@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .large-text-area {
        @apply textarea textarea-ghost h-full font-mono resize-none border-0
    }
}

.input:focus, .input:focus-within {
    box-shadow: none;
    border-color: var(--fallback-bc, oklch(var(--bc) / 0.2));
    outline-style: solid;
    outline-width: 1px;
    outline-offset: 0px;
    outline-color: var(--fallback-bc, oklch(var(--bc) / 0.2));
}


.textarea:focus, .textarea:focus-within {
    outline-width: 0px;
    outline-offset: 0px;
}


.select:focus, .select:focus-within {
    outline-width: 0px;
    outline-offset: 0px;
}


